@import "../Utils/mixins";

.aboutContent {
   margin-bottom: 9.5vh;
}
@include m-screen {
   .aboutContent {
      margin-bottom: 15.65vh;
   }
}

@include l-screen {
   .aboutContent {
      margin-bottom: 15.65vh;
   }
}
