.carrousel {
   position: relative;
   height: 415px;
   width: 100%;
   img:nth-of-type(1),
   img:nth-of-type(3) {
      position: absolute;
      top: 50%;
   }
   img:nth-of-type(1) {
      left: 0;
      transform: translate(0, -50%);
      margin-left: 24px;
   }
   img:nth-of-type(2) {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 25px;
   }
   img:nth-of-type(3) {
      right: 0;
      transform: translate(0, -50%) rotate(180deg);
      margin-right: 25px;
   }
   span {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      margin-bottom: 25px;
      color: white;
   }
}
