@import "../../Utils/mixins";

header {
   padding: 0 5.34vw;
   padding-top: 20px;
   display: flex;
   justify-content: space-between;
   img {
      height: 47px;
   }
   nav {
      display: flex;
      align-items: center;
      ul {
         display: flex;
         list-style: none;
         column-gap: 10px;
         color: #ff6060;
         font-size: 12px;
      }
   }
}

.active {
   text-decoration: underline;
}

@include m-screen {
   header {
      padding: 0 6.95vw;
      padding-top: 40px;
      nav {
         ul {
            column-gap: 30px;
            font-size: 18px;
         }
      }
   }
}

@include l-screen {
   header {
      padding: 0 6.95vw;
      padding-top: 40px;
      nav {
         ul {
            column-gap: 57px;
            font-size: 24px;
         }
      }
   }
}
