@import "../../Utils/mixins";
.lodgingsContainer {
   display: flex;
   flex-wrap: wrap;
   gap: 20px 0;
   margin-bottom: 43px;
}
@include tablet {
   .lodgingsContainer {
      padding: 56px 4%;
      gap: 50px 5%;
      border-radius: 25px;
      background-color: #f6f6f6;
   }
}

@include desktop {
}
