@import "../../Utils/mixins";
.lodgingsContainer {
   display: flex;
   flex-wrap: wrap;
   gap: 20px 0;
   margin-bottom: 43px;
}
@include m-screen {
   .lodgingsContainer {
      padding: 56px 4%;
      gap: 50px 5%;
      border-radius: 25px;
      background-color: #f6f6f6;
   }
}

@include l-screen {
   .lodgingsContainer {
      padding: 56px 4%;
      gap: 50px 5%;
      border-radius: 25px;
   }
}
@media screen and (min-width: 992px) and (max-width: 1073px) {
   .lodgingsContainer {
      justify-content: center;
   }
}
