footer {
   background-color: #000;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 66px;
   padding-bottom: 30px;
   color: #fff;

   img {
      margin-bottom: 30px;
   }
}
